.todo {
    background-color: #2a2a2a;
    padding: 5px;
    display: flex;
    justify-content: space-between; /* Add this line */
    align-items: center;
    margin: 3px 0;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    flex: 1 1 auto;
    border-bottom: none;

    &:hover {
        background-color: #323232;
    }

    .todo-title {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;

        &.checked {
            text-decoration: line-through;
        }

        p {
            margin: 0;
        }

        .todo-finishAt {
            margin: 0;
            color: #d1d1d1;
        }
    }

    .checkbox-container {
        display: flex;
        align-items: center;
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #999;
        position: relative;
        outline: none;
        cursor: pointer;
    }

    .checkbox:checked {
        background-color: #ac4caf;
        border-color: #ac4caf;
    }

    .checkbox:hover:not(:checked) {
        border-color: #666;
    }

    /* Styling the tick */
    .checkbox::before {
        content: "\2713";
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .checkbox:hover::before {
        opacity: 0.5;
    }

    .checkbox:checked::before {
        opacity: 1;
    }

    .star-icon {
        margin-right: 10px; /* Add margin to separate it from the title */
    }
}
