/* dropdown menu styles */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu {
    padding: 4px;
    list-style-type: none;
    background-color: #202020;
    background-clip: padding-box;
    color: white;
    border-radius: 8px;
    border: 1px solid rgb(80, 80, 80);
    outline: none;
}

/* menu list styles */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown
    .ant-dropdown-menu
    .ant-dropdown-menu-item,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu
    .ant-dropdown-menu-item,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown
    .ant-dropdown-menu
    .ant-dropdown-menu-submenu-title,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu
    .ant-dropdown-menu-submenu-title {
    padding: 5px 12px;
    color: white;
    transition: all 0.1s;
    border-radius: 4px;

    &:hover {
        background-color: #3d3d40;
    }
}

/* danger element */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown
    .ant-dropdown-menu
    .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:not(
        .ant-dropdown-menu-item-disabled
    ),
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu
    .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:not(
        .ant-dropdown-menu-item-disabled
    ) {
    color: #ff4d4f;

    &:hover {
        background-color: #3d3d40;
        color: #ff4d4f;
    }
}

/* styles for dropdown menu */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu {
    padding: 1px;
    border-radius: 3px;
}

/* style for item in dropdown menu */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown
    .ant-dropdown-menu
    .ant-dropdown-menu-item,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu
    .ant-dropdown-menu-item,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown
    .ant-dropdown-menu
    .ant-dropdown-menu-submenu-title,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-dropdown-menu-submenu
    .ant-dropdown-menu
    .ant-dropdown-menu-submenu-title {
    padding: 5px 12px;
    border-radius: 0px;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-content {
    background-color: #242426;
    color: white;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

// buttons in modal
.ant-btn.ant-btn-default {
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #313133;
    border-color: #3d3d3f;

    &:hover {
        background-color: #3b3b3e;
        border-color: #3d3d3f;
        color: white;
    }
}

.ant-btn.ant-btn-danger {
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #b11100;

    &:hover {
        background-color: #af2c1e;
    }
}
