.todo {
    background-color: #2a2a2a;
    padding: 5px;
    display: flex;
    align-items: center;

    margin: 3px 0;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    border-bottom: none;
    height: 50px;
    flex: 1 1 auto;

    &:hover {
        background-color: #323232;
    }

    .todo-title {
        margin: 0 0 0 10px;

        &.checked {
            text-decoration: line-through;
        }
    }

    .checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #999;
        position: relative;
        outline: none;
        cursor: pointer;
    }

    .checkbox:checked {
        background-color: #ac4caf;
        border-color: #ac4caf;
    }

    .checkbox:hover:not(:checked) {
        border-color: #666;
    }

    /* Styling the tick */
    .checkbox::before {
        content: "\2713";
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .checkbox:hover::before {
        opacity: 0.5; /* Adjust the opacity on hover */
    }

    .checkbox:checked::before {
        opacity: 1; /* Display the checkmark when checked */
    }
}
